/* You can add global styles to this file, and also import other style files */
.header {
  margin: 0px 0px 20px 0px;
}
.toolbar {
  background-color: deepskyblue;
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
}
.toolbar #homeLoginB {
  display: flex;
}
.footer {
  background-color: lawngreen;
  position: fixed;
  bottom: 0;
  border-width: 0;
  margin-left: 0;
  width: 100%;
  height: 60px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
